.navlist{
    display: flex;
    list-style-type: none; 
    text-decoration: none;
    align-content: space-between;
}

.navitem{
    padding-right: 30px;
    text-decoration: none;
}

.navitem a{
    color: #FFF;
}
  
.nav {
    margin-left: auto;  
  }